.radiosContainer {
    margin-block-end: var(--spacers-dp24);
    display: flex;
}

.radioItem {
    margin-left: var(--spacers-dp16);
}

.radioContainerLabel {
    font-size: 16px;
    font-weight: 500;
    margin: 0 0 var(--spacers-dp8) 0;
}

.radioContainerSubtext {
    font-size: 12px;
    color: var(--colors-grey700);
    font-weight: 400;
    margin: 0 0 var(--spacers-dp8) 0;
}

.radioContainerWrapper {
}

.editCheckboxConfirm {
    margin-block-end: var(--spacers-dp8);
}

.attributeSelectionContainer {
    width: 600px;
}

.schemeSelectorContainer {
    margin: 0 0 var(--spacers-dp16) 0;
}
