.container {
    display: flex;
    align-items: center;
    margin: var(--spacers-dp16) 0 0 var(--spacers-dp4);
}

.message {
    font-size: 14px;
    margin: 0 0 0 var(--spacers-dp4);
    color: var(--colors-red500);
}
