.subsectionField {
    margin-block-end: var(--spacers-dp16);
}

.subsectionField1000 {
    margin-block-end: var(--spacers-dp16);
    max-width: 1000px;
}

.subsectionField600 {
    margin-block-end: var(--spacers-dp16);
    max-width: 750px;
}

.subsectionBlockEnd {
    margin-block-end: var(--spacers-dp24);
}

.visualizationSubtext {
    font-size: 12px;
    color: var(--colors-grey600);
    margin-inline-start: 26px;
}

.checkContainer {
    margin-block-start: var(--spacers-dp16);
}

.emptyTableWrapper {
    max-width: 320px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}
.emptyTableHeader {
    font-size: 20px;
    line-height: 24px;
    font-weight: 500;
    color: var(--colors-grey900);
    margin: 0;
}
.emptyTableText {
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    color: var(--colors-grey700);
    margin: 0;
}
