.subsectionField {
    margin-block-end: var(--spacers-dp16);
}

.subsectionField1000 {
    margin-block-end: var(--spacers-dp16);
    max-width: 1000px;
}

.subsectionField600 {
    margin-block-end: var(--spacers-dp16);
    max-width: 750px;
}

.subsectionBlockEnd {
    margin-block-end: var(--spacers-dp24);
}

.visualizationSubtext {
    font-size: 12px;
    color: var(--colors-grey600);
    margin-inline-start: 26px;
}

.checkContainer {
    margin-block-start: var(--spacers-dp16);
}

.schemeExplanationText {
    font-size: 12px;
    color: var(--colors-grey700);
    font-weight: 400;
    margin: 0 0 var(--spacers-dp8) 0;
}
