/* move if using */
.prefix {
    font-family: monospace;
    font-size: 13px;
    color: var(--colors-grey800);
    background: var(--colors-grey300);
    padding: 2px var(--spacers-dp4);
    margin-right: var(--spacers-dp4);
    border-radius: 3px;
}

.prefixCritical {
    color: var(--colors-red800);
    background: var(--colors-red050);
}

.skipAuditWarning {
    margin-block: var(--spacers-dp8);
}

.radiosContainerVertical {
    margin-block-end: var(--spacers-dp16);
    display: flex;
    flex-direction: column;
}
.radiosContainerVertical * {
    margin-block-start: var(--spacers-dp4);
}

.subsectionField1000 {
    margin-block-end: var(--spacers-dp16);
    max-width: 1000px;
}
