.subsectionField {
    margin-block-end: var(--spacers-dp16);
}

.subsectionField1000 {
    margin-block-end: var(--spacers-dp16);
    max-width: 1000px;
}

.subsectionField600 {
    margin-block-end: var(--spacers-dp16);
    max-width: 600px;
}

.fieldItem {
    margin-top: var(--spacers-dp16);
}

.radiosContainer {
    margin-block-end: var(--spacers-dp16);
    display: flex;
}

.radioItem {
    margin-left: var(--spacers-dp16);
}

.radioBox {
    border: 1.5px solid var(--colors-grey300);
    border-radius: 8px;
    height: 80px;
    width: 350px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: var(--spacers-dp8);
    margin-inline-end: var(--spacers-dp8);
}

.radioBoxSelected {
    border: 1.5px solid var(--colors-teal500);
    background-color: var(--colors-teal100);
}

.radioDecoratorLabel {
    display: inline-block;
    margin-block-end: var(--spacers-dp8);
    font-weight: 500;
    font-size: 14px;
}

.radioDecoratorHelper {
    display: inline-block;
    color: var(--colors-grey600);
    font-size: 12px;
}

.radioBoxText {
    margin-inline-start: var(--spacers-dp8);
}

.idSchemeSection {
    margin: var(--spacers-dp24) 0 var(--spacers-dp24) 0;
}

.editWarningButton {
    margin: var(--spacers-dp8) 0 0 0;
}
