.titleBar {
    display: grid;
    grid-template-columns: max-content max-content max-content;
    align-items: center;
    grid-gap: var(--spacers-dp12);
    margin-bottom: var(--spacers-dp12);
    display: flex;
}

.workflowName {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
}

.workflowDataSetsCount {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    grid-gap: var(--spacers-dp4);
    color: var(--colors-grey700);
    font-size: 14px;
    line-height: 16px;
}

.analyticsRunStamp {
    margin-left: auto;
    margin-right: var(--spacers-dp8);
    color: var(--colors-grey700);
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
}

.analyticsRunStamp * {
    margin-left: 2px;
}
