.titleCell {
    width: 100%;
    box-sizing: border-box;
    padding: var(--spacers-dp8);
    font-weight: 500;
    font-size: 14px;
    text-align: left;
}

.labelCellContent,
.labelCellContent {
    display: block;
    max-width: 480px;
}

.dataTable {
    margin-bottom: var(--spacers-dp8);
}