.cardContainer {
    width: 700px;
    border: 1px solid var(--colors-grey300);
}

.cardContainerInner {
    padding: var(--spacers-dp16);
}

.exchangeTitle {
    font-weight: 500;
    margin-block-end: var(--spacers-dp16);
}

.detailsContainer {
    display: flex;
    align-items: center;
    margin-block-end: var(--spacers-dp16);
}

.iconText {
    display: flex;
    margin-inline-end: var(--spacers-dp16);
    align-items: center;
}

.iconText * {
    margin-inline-end: var(--spacers-dp4);
    font-size: 14px;
}

.icon {
    color: var(--colors-grey600);
}

.listContainer {
    padding: none;
    display: flex;
    flex-wrap: wrap;
    gap: var(--spacers-dp16);
    padding-inline-start: var(--spacers-dp16);
}

.searchContainer {
    padding: 16px;
    width: 600px;
}
